@model IEnumerable<EventsPlanner.Models.Message>

@{
    ViewBag.Title = "День рождения";
}

<style>
thead, tbody { display: block; width:100% }

thead{
    background-color:aliceblue;

}
tbody {
    height: 400px; /* Just for the demo          */
    overflow-y: auto; /* Trigger vertical scroll    */
    /*overflow-x: hidden;*/ /* Hide the horizontal scroll */
}
</style>
<h2>День рождениe</h2>
<div class="row">
    <div class="col-md-10">
        <table class="table" >
            <thead> 
                <tr >
                    <th style="width:100px">
                        Отправил
                    </th>
                    <th style="width:170px">
                        Время
                    </th>
                    <th>
                        Сообщения
                    </th>
                </tr>
                </thead>
            <tbody>
                @for (int i = 0; i < 40; i++)
                {
                    <tr>
                        <td style="width:100px">
                            Artem
                        </td>
                        <td style="width:170px">
                            30.04.2020 0:00:00
                        </td>
                        <td>
                            Привет. Известно что-нб про данные?dszvdvfaddddddddddddddddddddddsdfvfd wrad sfdg serdf gstedh strdh sd
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        <h4>Участники чата</h4>
        <ul>
            <li>Artem</li>
            <li>Pasha</li>
            <li>Vasya</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <textarea style="max-width:1300px;width:100%"></textarea>
    </div>
    <div class="col-md-2">
        <input type="button" name="name" value="Отправить" style="width:100%" />
    </div>
</div>
