@model IEnumerable<EventsPlanner.Models.Event>

@{
    ViewBag.Title = "Чаты";
}

<h2>Чаты фотосессий</h2>

<table class="table table-striped">
    <tr style="background-color:#d9d9d9">
        <th>
           Фотосессия
        </th>
        <th>
            Дата фотосессии
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
       
        <td>
            @Html.ActionLink("Перейти", "Event", new { id=item.EventId })
        </td>
    </tr>
}

</table>
